In [10]:
import datetime as dt
import requests

In [11]:
# Website, we build on top of this
# 2.5 is the version, make sure to have the correct version.
import datetime as dt
import requests
BASE_URL = "http://api.openweathermap.org/data/2.5/weather?" ## this is from the website 
API_KEY = "ad54d8fb6221a2c219fcc7eeeadd2998"

In [12]:
#
BASE_URL = "http://api.openweathermap.org/data/2.5/weather?" ## this is fromt he website 
API_KEY = "ad54d8fb6221a2c219fcc7eeeadd2998"
CITY = "Berkeley"

In [13]:
# Build on URL

# weather is local time.
url = BASE_URL + "appid=" + API_KEY + "&q=" + CITY
response = requests.get(url).json()
print(response)

{'coord': {'lon': -122.2728, 'lat': 37.8716}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02n'}], 'base': 'stations', 'main': {'temp': 286.18, 'feels_like': 285.78, 'temp_min': 283.97, 'temp_max': 288.01, 'pressure': 1023, 'humidity': 86}, 'visibility': 10000, 'wind': {'speed': 0.45, 'deg': 93, 'gust': 1.34}, 'clouds': {'all': 20}, 'dt': 1701746375, 'sys': {'type': 2, 'id': 2037811, 'country': 'US', 'sunrise': 1701702530, 'sunset': 1701737404}, 'timezone': -28800, 'id': 5327684, 'name': 'Berkeley', 'cod': 200}

In [14]:
import pandas as pd

df = pd.json_normalize(response)
df

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.humidity,wind.speed,wind.deg,wind.gust,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1701746375,-28800,5327684,Berkeley,200,-122.2728,37.8716,...,86,0.45,93,1.34,20,2,2037811,US,1701702530,1701737404

In [15]:
def kelvin_to_celsius_fahrenheit(kelvin):
    celsius = kelvin - 273.15
    fahrenheit = celsius * (9/5) + 32
    return celsius, fahrenheit

In [16]:
temp_kelvin = response["main"]["temp"]
temp_celsius, temp_fahrenheit = kelvin_to_celsius_fahrenheit(temp_kelvin)
temp_celsius

13.03000000000003

In [17]:
feels_like_kelvin = response["main"]["feels_like"]
feels_like_celsius, feels_like_fahrenheit = kelvin_to_celsius_fahrenheit(feels_like_kelvin)
humidity = response["main"]["humidity"]
description = response["weather"][0]["description"]
wind_speed = response["wind"]["speed"]
sunrise_time = dt.datetime.utcfromtimestamp(response["sys"]["sunrise"] + response["timezone"])
sunset_time = dt.datetime.utcfromtimestamp(response["sys"]["sunset"] + response["timezone"])

In [18]:
print(f"Temperature in {CITY}: {temp_celsius:.2f}°C or {temp_fahrenheit:.2f}°f")
print(f"Temperature in {CITY} feels like: {feels_like_celsius:.2f}°C or {feels_like_fahrenheit:.2f}°f")
print(f"Wind speed in {CITY}: {wind_speed} m/s")
print(f"General Weather in {CITY}: {description}")
print(f"Sun rise in {CITY}: {sunrise_time} local time")
print(f"Sun set in {CITY}: {sunset_time} local time")

Temperature in Berkeley: 13.03°C or 55.45°f
Temperature in Berkeley feels like: 12.63°C or 54.73°f
Wind speed in Berkeley: 0.45 m/s
General Weather in Berkeley: few clouds
Sun rise in Berkeley: 2023-12-04 07:08:50 local time
Sun set in Berkeley: 2023-12-04 16:50:04 local time

In [9]:
import requests
from datetime import datetime, timedelta

BASE_URL = "http://api.openweathermap.org/data/2.5/onecall/timemachine"
API_KEY = "c5610bb0ad50f6ddb52e2276182d31a2"
CITY = "Los Angeles"
LATITUDE = 34.0522
LONGITUDE = -118.2437

# Retrieve historical weather data for the past 5 days
for days_ago in range(10):
    date = (datetime.now() - timedelta(days=days_ago)).strftime("%Y-%m-%d")
    timestamp = int(datetime.strptime(date, "%Y-%m-%d").timestamp())

    api_url = f"{BASE_URL}?lat={LATITUDE}&lon={LONGITUDE}&dt={timestamp}&appid={API_KEY}"

    response = requests.get(api_url)
    weather_data = response.json()

    # Print the historical weather data for the current date
    print(f"Date: {date}")
    print("Weather Data:", weather_data)
    print("=" * 50)

Date: 2023-12-04
Weather Data: {'cod': 401, 'message': 'Invalid API key. Please see https://openweathermap.org/faq#error401 for more info.'}
==================================================
Date: 2023-12-03
Weather Data: {'cod': 401, 'message': 'Invalid API key. Please see https://openweathermap.org/faq#error401 for more info.'}
==================================================
Date: 2023-12-02
Weather Data: {'cod': 401, 'message': 'Invalid API key. Please see https://openweathermap.org/faq#error401 for more info.'}
==================================================
Date: 2023-12-01
Weather Data: {'cod': 401, 'message': 'Invalid API key. Please see https://openweathermap.org/faq#error401 for more info.'}
==================================================
Date: 2023-11-30
Weather Data: {'cod': 401, 'message': 'Invalid API key. Please see https://openweathermap.org/faq#error401 for more info.'}
==================================================
Date: 2023-11-29
Weather Data: {'cod': 401, 'message': 'Invalid API key. Please see https://openweathermap.org/faq#error401 for more info.'}
==================================================
Date: 2023-11-28
Weather Data: {'cod': 401, 'message': 'Invalid API key. Please see https://openweathermap.org/faq#error401 for more info.'}
==================================================
Date: 2023-11-27
Weather Data: {'cod': 401, 'message': 'Invalid API key. Please see https://openweathermap.org/faq#error401 for more info.'}
==================================================
Date: 2023-11-26
Weather Data: {'cod': 401, 'message': 'Invalid API key. Please see https://openweathermap.org/faq#error401 for more info.'}
==================================================
Date: 2023-11-25
Weather Data: {'cod': 401, 'message': 'Invalid API key. Please see https://openweathermap.org/faq#error401 for more info.'}
==================================================

In [11]:
import pandas as pd
LA = pd.read_csv('LAWEATHER.csv') 
LA.head()

,dt,dt_iso,timezone,city_name,lat,lon,temp,visibility,dew_point,feels_like,...,wind_gust,rain_1h,rain_3h,snow_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,283996800,1979-01-01 00:00:00 +0000 UTC,-28800,Los Angeles,34.054908,-118.242643,288.74,NaN,280.00,287.82,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01d
1,284000400,1979-01-01 01:00:00 +0000 UTC,-28800,Los Angeles,34.054908,-118.242643,289.80,NaN,277.83,288.70,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
2,284004000,1979-01-01 02:00:00 +0000 UTC,-28800,Los Angeles,34.054908,-118.242643,288.28,NaN,277.36,287.10,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
3,284007600,1979-01-01 03:00:00 +0000 UTC,-28800,Los Angeles,34.054908,-118.242643,281.05,NaN,275.92,281.05,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n
4,284011200,1979-01-01 04:00:00 +0000 UTC,-28800,Los Angeles,34.054908,-118.242643,280.67,NaN,275.56,280.67,...,NaN,NaN,NaN,NaN,NaN,0,800,Clear,sky is clear,01n

In [12]:
LA.columns

Index(['dt', 'dt_iso', 'timezone', 'city_name', 'lat', 'lon', 'temp',
       'visibility', 'dew_point', 'feels_like', 'temp_min', 'temp_max',
       'pressure', 'sea_level', 'grnd_level', 'humidity', 'wind_speed',
       'wind_deg', 'wind_gust', 'rain_1h', 'rain_3h', 'snow_1h', 'snow_3h',
       'clouds_all', 'weather_id', 'weather_main', 'weather_description',
       'weather_icon'],
      dtype='object')